#vs
.vs/
.vscode/
*.user
*.suo
*.sln.ide

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

#.NET
bin/
Bin/
obj/
Obj/
build/
bld/
*.dll
*.exe
*.pdb
*.cache

*.ilk
*.meta
*.obj

#system
Thumbs.db

